<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="realworld" namespace="RealWorld.Grids" assembly="RealWorld.Grids" />
				<add tagPrefix="resx" namespace="ExtendedRWGrid" />
        <add tagPrefix="xnc" namespace="XCDN" assembly="XCDN" />
      </controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies>
		</compilation>
		<authentication mode="None" />
		<sessionState cookieless="UseCookies" timeout="20" />
		<browserCaps>
			<case>RequiresControlStateInSession=true</case>
		</browserCaps>
		<customErrors mode="Off" />
	</system.web>
	
	<appSettings>
		<add key="ImageCDNPath" value="" />
		<add key="HotelMediaCDNPath" value="" />
		<add key="CSSCDNPath" value="" />
		<add key="JSCDNPath" value="" />
		<add key="SharedCDNPath" value="" />
		<!--  -->
		<add key="CustomCDNPath" value="https://d2rhganuh50oo0.cloudfront.net"/>
		<add key="CDNMapping.XN00049" value="paris"/>
		<add key="CDNMapping.XN00158" value="marseille"/>
		<!--  -->
		<add key="PrimaryLogPath" value="c:\wbs.logging\Mama\Staging\_xngr_wbs.log"/>
		<add key="BackupLogPath" value="c:\wbs.logging\Mama\Staging\_xngr_wbs_bkup.log"/>
		<add key="AlertScriptArgument" value="//B c:\Alerts\kmfAlertMail.vbs &quot;WBS.UI Exception -- Mama Shelter Staging System&quot;" />
		<!--  -->
		<!-- Set to "Production" or "Test" -->
		<add key="WBSSystemMode" value="Production" />
		<add key="WBSBookingMode" value="Test" />
		<!--  -->
		<add key="GuestDetailsTestPrefill" value="0"/>
		<add key="WorldTimeDataPath" value="C:\Program Files\XHS\WorldTime\worldtime.xml"/>
		<add key="CalZaptecThemes" value="../zapatec/zpcal/themes/system.css"/>
		<add key="ImageUrlPrefix" value="https://"/>
		<add key="DeviceAtlasDataPath" value="C:\Program Files\XHS\DeviceAtlasData\DAtlas.json"/>
		<add key="MobileSiteDeepLinkUrl" value="" />
		<!--  -->
		<add key="AddOnPackageSelectorControl.ascx" value="~/Controls/AddOnPackageSelectorControl.1.ascx" />
		<add key="AddOnPackageSelectorItemControl.ascx" value="~/Controls/AddOnPackageSelectorItemControl.1.ascx" />
		<add key="AlternateHotelSelectorControl.ascx" value="~/Controls/AlternateHotelSelectorControl.1.ascx" />
		<add key="AlternateHotelSelectorItemControl.ascx" value="~/Controls/AlternateHotelSelectorItemControl.1.ascx" />
		<add key="AlternateHotelRatePlanItemControl.ascx" value="~/Controls/AlternateHotelRatePlanItemControl.1.ascx" />
		<add key="AvailCalSelectorControl.ascx" value="~/Controls/AvailCalSelectorControl.1.ascx" />
		<add key="AvailCalSelectorItemControl.ascx" value="~/Controls/AvailCalSelectorItemControl.1.ascx" />
		<add key="BookingStepControl.ascx" value="~/Controls/BookingStepControl.1.ascx" />
		<add key="BookingStepItemControl.ascx" value="~/Controls/BookingStepItemControl.1.ascx" />
		<add key="BookingSummaryControl.ascx" value="~/Controls/BookingSummaryControl.1.ascx" />
		<add key="BookingSummaryRoomItemControl.ascx" value="~/Controls/BookingSummaryRoomItemControl.1.ascx" />
		<add key="BookingSummaryAddOnPackageItemControl.ascx" value="~/Controls/BookingSummaryAddOnPackageItemControl.1.ascx" />
		<add key="CancelAddOnPackageItemControl.ascx" value="~/Controls/CancelAddOnPackageItemControl.1.ascx" />
		<add key="CancelBookingSummaryControl.ascx" value="~/Controls/CancelBookingSummaryControl.1.ascx" />
		<add key="CancelDetailsEntryControl.ascx" value="~/Controls/CancelDetailsEntryControl.1.ascx" />
		<add key="CancelRoomSelectorControl.ascx" value="~/Controls/CancelRoomSelectorControl.1.ascx" />
		<add key="CancelRoomSelectorItemControl.ascx" value="~/Controls/CancelRoomSelectorItemControl.1.ascx" />
		<add key="ErrorDisplayControl.ascx" value="~/Controls/ErrorDisplayControl.1.ascx" />
		<add key="GuestDetailsEntryControl.ascx" value="~/Controls/GuestDetailsEntryControl.1.ascx" />
		<add key="HotelDescriptionControl.ascx" value="~/Controls/HotelDescriptionControl.1.ascx" />
		<add key="HotelDescriptionImageItemControl.ascx" value="~/Controls/HotelDescriptionImageItemControl.1.ascx" />
		<add key="HotelDescriptionItemControl.ascx" value="~/Controls/HotelDescriptionItemControl.1.ascx" />
		<add key="HotelRatingControl.ascx" value="~/Controls/HotelRatingControl.1.ascx" />
		<add key="LanguageSelectorControl.ascx" value="~/Controls/LanguageSelectorControl.1.ascx" />
		<add key="LanguageSelectorItemControl.ascx" value="~/Controls/LanguageSelectorItemControl.1.ascx" />
		<add key="PaymentCardLogoControl.ascx" value="~/Controls/PaymentCardLogoControl.1.ascx" />
		<add key="PaymentCardLogoItemControl.ascx" value="~/Controls/PaymentCardLogoItemControl.1.ascx" />
		<add key="PaymentReceiptControl.ascx" value="~/Controls/PaymentReceiptControl.1.ascx" />
		<add key="ProfileLoginControl.ascx" value="~/Controls/ProfileLoginControl.1.ascx" />
		<add key="ProfileLoginNameControl.ascx" value="~/Controls/ProfileLoginNameControl.1.ascx" />
		<add key="RateGridDataItemControl.ascx" value="~/Controls/RateGridDataItemControl.1.ascx" />
		<add key="RateGridHeaderItemControl.ascx" value="~/Controls/RateGridHeaderItemControl.1.ascx" />
		<add key="RestrictionDateDisplayControl.ascx" value="~/Controls/RestrictionDateDisplayControl.1.ascx" />
		<add key="RoomDetailSelectorControl.ascx" value="~/Controls/RoomDetailSelectorControl.1.ascx" />
		<add key="RoomRateSelectorControl.ascx" value="~/Controls/RoomRateSelectorControl.1.ascx" />
		<add key="RoomRateSelectorGridControl.ascx" value="~/Controls/RoomRateSelectorGridControl.1.ascx" />
		<add key="RoomRateTotalPricingControl.ascx" value="~/Controls/RoomRateTotalPricingControl.1.ascx" />
		<add key="RoomRateTotalPricingItemControl.ascx" value="~/Controls/RoomRateTotalPricingItemControl.1.ascx" />
		<add key="RoomSelectorItemControl.ascx" value="~/Controls/RoomSelectorItemControl.1.ascx" />
		<add key="RoomTypeSelectorGridItemControl.ascx" value="~/Controls/RoomTypeSelectorGridItemControl.1.ascx" />
		<add key="RoomTypeSelectorItemControl.ascx" value="~/Controls/RoomTypeSelectorItemControl.1.ascx" />
		<add key="RatePlanSelectorGridItemControl.ascx" value="~/Controls/RatePlanSelectorGridItemControl.1.ascx" />
		<add key="RatePlanSelectorItemControl.ascx" value="~/Controls/RatePlanSelectorItemControl.1.ascx" />
		<add key="RoomQuantitySelectorControl.ascx" value="~/Controls/RoomQuantitySelectorControl.ascx"/>
		<add key="PeopleQuantitySelectorControl.ascx" value="~/Controls/PeopleQuantitySelectorControl.ascx" />
		<add key="SearchHotelSelectorControl.ascx" value="~/Controls/SearchHotelSelectorControl.1.ascx" />
		<add key="SearchHotelSelectorGridControl.ascx" value="~/Controls/SearchHotelSelectorGridControl.1.ascx" />
		<add key="SearchHotelSelectorItemControl.ascx" value="~/Controls/SearchHotelSelectorItemControl.1.ascx" />
		<add key="SearchHotelSelectorGridItemControl.ascx" value="~/Controls/SearchHotelSelectorGridItemControl.1.ascx" />
		<add key="SpecialRatesIndicatorControl.ascx" value="~/Controls/SpecialRatesIndicatorControl.1.ascx" />
		<add key="StayCriteriaSelectorControl.ascx" value="~/Controls/StayCriteriaSelectorControl.1.ascx" />
		<add key="TrackingCodeControl.ascx" value="~/Controls/TrackingCodeControl.1.ascx" />
		<add key="TrackingCodeItemControl.ascx" value="~/Controls/TrackingCodeItemControl.1.ascx" />
		<add key="TotalCostControl.ascx" value="~/Controls/TotalCostControl.1.ascx" />
		<add key="StayCriteriaSelectorControl.MM.ascx" value="~/Controls/StayCriteriaSelectorControl.MM.ascx" />
		<add key="ImageHoldingControl.ascx" value="~/Controls/ImageHoldingControl.1.ascx" />
		<add key="ConfirmationControl.ascx" value="~/Controls/ConfirmationControl.1.ascx" />
		<add key="RemoteContentContainer.ascx" value="~/Controls/RemoteContentContainer.1.ascx"/>
		<!--  -->
		<add key="ServiceRequesterID" value="MamaShelter_WBS_PS" />
		<add key="ServiceRequestorPassword" value="Het*^kw[89$2" />
		<add key="DistributionChannelCode" value="XWBS" />
		<add key="DistributionChannelName" value="Xn GlobalRES" />
		<!-- Set to "XWBS", "XWBS-MOBILE", "XWBS-FACEBOOK", or "" -->
		<add key="DistributionChannelSubCode" value="XWBS" />
		<add key="HotelChainCode" value="XN" />
		<!--  -->
		<!-- Set to semi-colon delimited list or "" for all brands within ServiceRequestorID scope -->
		<add key="HotelBrandCodes" value="" />
		<!--  -->
		<add key="LanguageCount" value="6" />
		<!-- Set to semi-colon delimted list: Language Name Text; culture; UI culture; symbol image URL-->
		<add key="Language1" value="English;en-US;en;~/images/flags/en.png"/>
		<add key="Language2" value="Francais;fr-FR;fr;~/images/flags/fr.png"/>
		<add key="Language3" value="Deutsch;de-DE;de;~/images/flags/de.png" />
		<add key="Language4" value="Español;es-ES;es;~/images/flags/es.png"/>
		<add key="Language5" value="Italiano;it-IT;it;~/images/flags/it.png"/>
		<add key="Language6" value="Japanese;ja-JP;ja;~/images/flags/jp.png"/>
		<!--  -->
		<add key="DefaultCulture" value="en-US" />
		<add key="DefaultUICulture" value="en" />
		<!--  -->
		<add key="DefaultTimeZoneCode" value="FR"/>
		<add key="DefaultTimeZoneCode_FR" value="FR"/>
		<!--  -->
		<add key="CompanyRegNumber_XN00000" value="" />
		<!--  -->
		<add key="CurrencyDecimalPlacements" value="2" />
		<!--  -->
		<add key="MembershipProgramCount" value="0" />
		<!-- Set to semi-colon delimted list: Hotel Code; Program Name; Program Code; Program Type (air, hotel) -->
		<add key="MembershipProgram1" value="" />
		<!--  -->
		<add key="BookingRestrictionNoticeCount" value="0" />
		<!-- Set to semi-colon delimted list: Hotel Code; Hotel Name; Restriction Type (opening, repair, refurbish, closing); Date 1; Date 2 -->
		<add key="BookingRestrictionNotice1" value="" />
		<!--  -->
		<add key="TrackingCodeCount" value="3" />
		<!-- Set to semi-colon delimted list: Hotel Code (or "default"); Tag Location (head, body); Page Selection (start-only, confirm-only, all-pages), Tracking Type (async, ga, urchin); Tracking Account ID; Page URL (opt); Page URL Prefix (opt); Cross-Domain Tracking Flag (opt) -->
		<!-- Set to semi-colon delimted list: Hotel Code (or "default"); Tag Location (head, body); Page Selection (start-only, confirm-only, all-pages), Tracking Type (adwconv); ID; Language; Format; Color; Label -->
		<!-- Set to semi-colon delimted list: Hotel Code (or "default"); Tag Location (head, body); Page Selection (start-only, confirm-only, all-pages), Tracking Type (dfa_start, dfa_confirm); Src; Type; Cat; Ord -->
		<!-- Set to semi-colon delimted list: Hotel Code (or "default"); Tag Location (head, body); Page Selection (start-only, confirm-only, all-pages), Tracking Type (ysm); Tracking Account ID -->
		<add key="TrackingCode1" value="XN00049;body;confirm-only;adwconv;1040145631;fr;1;ffffff;JRZECLmmiQEQ37n97wM"/>
		<add key="TrackingCode2" value="XN00158;body;confirm-only;adwconv;956274404;en;1;ffffff;dxOlCNTdxAMQ5K3-xwM"/>
		<add key="TrackingCode3" value="default;body;all-pages;async;UA-5056032-1;;;"/>
		<!--  -->
		<add key="PaymentGatewayCount" value="2" />
		<!-- Set to semi-colon delimted list: Hotel Code; Gateway Type (cba); Merchant ID; Merchant Access Code; Secure Hash Secret; API User Name; API User Password -->
		<!-- Set to semi-colon delimted list: Hotel Code; Gateway Type (ogone); Merchant ID; User ID; User Password; Secure Secret -->
		<!-- Set to semi-colon delimted list: Hotel Code; Gateway Type (bnz); Merchant ID; Client Cert Path; Client Cert Password -->
		<!-- Set to semi-colon delimted list: Hotel Code; Gateway Type (dibs); Merchant ID; Secure Secret 1; Secure Secret 2; Currency Code Number; SystemMode (test, prod)-->
		<!-- Set to semi-colon delimted list: Hotel Code; Gateway Type (migs3p); Merchant ID; Merchant Access Code; Secure Hash Secret; API User Name; API User Password; AVS Active (1); AVS Return Codes (Y,M,...) -->
		<!-- Set to semi-colon delimted list: Hotel Code; Gateway Type (hdfc); TID Alias; TID Resource Path -->
		<add key="PaymentGateway1" value="XN00049;ogone;MAMA75020test;XNGRTest;ALSYZZ00;4F84379458AF51ACBA88DBE75D26124C"/>
		<add key="PaymentGateway2" value="XN00158;ogone;MAMA75020test;XNGRTest;ALSYZZ00;4F84379458AF51ACBA88DBE75D26124C"/>
		<add key="*PaymentGateway1" value="XN00049;ogone;MAMA75020;XNGRWBS;WFPRPQ69;4F84379458AF51ACBA88DBE75D26124C"/>
		<add key="*PaymentGateway2" value="XN00158;ogone;MAMAMARSEILLE;XNGRWBS;kTdh75W*8;4F84349238BF51ACBA88DBE27D26124A"/>
		<!--  -->
		<add key="PaymentGatewayPaymentCardCount" value="1" />
		<!-- Set to semi-colon delimted list: Gateway Type (cba, ogone, bnz, dibs, migs3p, hdfc); CardType1; CardType2; ... -->
		<add key="PaymentGatewayPaymentCard1" value="ogone;VI;MC;AX"/>
		<!--  -->
		<!-- Used to override payment gateway card types if different for a specific hotel -->
		<!-- Set to semi-colon delimted list: CardType1; CardType2; ... -->
		<add key="PaymentGatewayPaymentCard_XN00000" value="" />
		<!--  -->
		<!-- Used by payment gateway API libraries -->
		<add key="CBA_PaymentServer" value="https://migs.mastercard.com.au/vpcpay" />
		<add key="CBA_PaymentServer_AMA" value="https://migs.mastercard.com.au/vpcdps" />
		<add key="Ogone_PaymentServer" value="https://secure.ogone.com/ncol/test/orderdirect.asp"/>
		<add key="Ogone_Enable3DSecure" value="Y"/>
		<add key="BNZ_PaymentServer" value="api01.buylineplus.co.nz;api02.buylineplus.co.nz" />
		<add key="BNZ_PaymentServerPort" value="3007" />
		<add key="webpay.dll.X509KeyStorageFlag" value="MachineKeySet" />
		<add key="DIBS_PaymentServer" value="https://payment.architrade.com/paymentweb/start.action" />
		<add key="MIGS3_PaymentServer" value="https://migs.mastercard.com.au/vpcpay"/>
		<add key="MIGS3_PaymentServer_AMA" value="https://migs.mastercard.com.au/vpcdps"/>
		<!--  -->
		<add key="MaxBookingDays" value="28" />
		<!--  -->
		<add key="EnableHotelSearch" value="0" />
		<add key="EnableAlternateHotelAvailability" value="0" />
		<add key="EnableRoomRateDescriptionModel" value="0" />
		<add key="EnableRoomRateGridModel" value="0" />
		<add key="EnableNetRatesDisplay" value="0" />
		<!--  -->
		<add key="BookingStepControl.OrientationMode" value="Horizontal" />
		<add key="StayCriteriaSelectorControl.UseStayNights" value="1" />
		<add key="StayCriteriaSelectorControl.ChangeModeOpen" value="0" />
		<add key="StayCriteriaSelectorControl.MaxRooms" value="5" />
		<add key="StayCriteriaSelectorControl.MaxAdults" value="4" />
		<add key="StayCriteriaSelectorControl.MaxChildren" value="2" />
		<add key="AddOnPackageSelectorItemControl.UseMaxAdults" value="1" />
		<add key="AddOnPackageSelectorItemControl.MaxPerStayQty" value="1" />
		<add key="RoomTypeSelectorItemControl.EnableShowMoreRates" value="0" />
		<add key="RoomTypeSelectorGridItemControl.EnableShowMoreRates" value="0" />
		<add key="RatePlanSelectorItemControl.UseRoomRateDescription" value="0" />
		<add key="RatePlanSelectorGridItemControl.UseRoomRateDescription" value="0" />
		<add key="BookingSummaryRoomItemControl.UseRoomRateDescription" value="0" />
		<add key="SearchHotelSelectorGridItemControl.HotelDescriptionOnlyInPopUp" value="1" />
		<add key="SearchHotelSelectorItemControl.HotelDescriptionOnlyInPopUp" value="1" />
		<add key="EnterGuestDetailsPage.RequireStateRegion" value="0" />
		<add key="EnterGuestDetailsPage.RequirePostalCode" value="1" />
		<add key="EnterGuestDetailsPage.RequirePaymentCardSecurityCode" value="0" />
		<add key="EnterGuestDetailsPage.PaymentGatewayAcceptedCardsOnly" value="1" />
		<add key="HotelPricing.IncludeAddOnPackageAmountsInTotal" value="1" />
		<!--  -->
		<!-- Mama Shelter Specific Options -->
		<!--  -->
		<add key="StayCriteriaSelectorControl.DefaultNumberAdult" value="1" />
		<add key="StayCriteriaSelectorControl.DefaultNumberChildren" value="0" />

		<add key="StayCriteriaSelectorControl.EnableChildren" value="0"/>
		<add key="StayCriteriaSelectorControl.MaxAdults" value="3" />
		<add key="StayCriteriaSelectorControl.MaxChildren" value="2" />

		<add key="StayCriteriaSelectorControl.EnableChildren_XN00049" value="0"/>
		<add key="StayCriteriaSelectorControl.MaxAdults_XN00049" value="3"/>
		<add key="StayCriteriaSelectorControl.MaxChildren_XN00049" value="0" />
    
		<add key="StayCriteriaSelectorControl.EnableChildren_XN00158" value="1"/>
		<add key="StayCriteriaSelectorControl.MaxAdults_XN00158" value="3"/>
		<add key="StayCriteriaSelectorControl.MaxChildren_XN00158" value="2" />

		<add key="CurrencySymbol.EUR" value="&#8364;" />
		<add key="CurrencySymbol.USD" value="&#36;" />
		<add key="CurrencySymbol.GBP" value="&#163;" />

		<!--  -->
		<!-- End of Mama Shelter Specific Options -->
		<!--  -->
		<add key="WBSAPIRouter.WindowUnits" value="3" />
		<add key="WBSAPIRouter.WindowUnitSeconds" value="10" />
		<add key="WBSAPIRouter.RequestExpirationSeconds" value="30" />
		<add key="WBSAPIRouter.RequestServiceTimeThresholdSeconds" value="8" />
		<!--  -->
		<add key="WBSMonitor.ExpirationSeconds" value="1500" />
		<add key="WBSMonitorStorePath" value="c:\wbs.logging\Mama\Staging\WBSMonitorStore.xml" />
		<!--  -->
		<add key="PerformanceMonitorGroupName" value="WBS.UI.Mama.Staging.1" />
		<!--  -->
	</appSettings>
</configuration>
